<div class="row">
  <div class="col">
    <div class="text-end">
      <div class="col-md-12 bg-light float-right">
        <button type="button" class="btn btn-light float-right" id="logout-button" (click)="logout()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
            <path fill-rule="evenodd"
              d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
          </svg>
          <span>&nbsp;Logout</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="chat-container container">

  <h2 class="text-center text-primary my-4">Random Topic Chat</h2>

  <div id="chat-application" class="container-sm mx-auto">
    <div class="d-flex justify-content-between align-items-center">

      <h3 style="margin-left: 10px; margin-top: 7px;">...<mark>{{topic}}</mark></h3>

      <button (click)="downloadChatPdf()" id="downloadPdf">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-filetype-pdf"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
        </svg>
      </button>
    </div>

    <div id="chat-window" #chatScroll style="overflow: scroll; height: xyz;">
      <div id="output" *ngFor="let data of output">
        <p><strong>{{data.handle}} : </strong>{{data.message}}</p>
      </div>
      <div id="feedback">
        <p>{{feedback}}</p>
      </div>
    </div>

    <input id="message" type="text" [(ngModel)]="message" placeholder="Message" autocomplete="off"
      (keypress)="messageTyping()" (keyup.enter)="sendMessage()" />
    <button type="button" class="btn btn-primary" id="send-button" (click)="sendMessage()">Send</button>
  </div>
</div>